*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

}
.full-container{
    width: 100%;
    height: 100%;
}
.nav{
    position:fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 99;
    background:#010D26 ;
    color:white;
    backdrop-filter: blur(20px);
    margin-bottom: 940px;
}
.nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    font-size: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.nav .menu{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav .menu li{
    height: 70%;
    width: 35%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .menu li a{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.profile{
    width: 4%;
    height: 100%;
    color:white;
    font-size: 30px;
    text-align: center;
    line-height: 90px;
}
.welcome-tag{
    margin-top: 100px;
    width: 100%;
    height:35% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.welcome-quote{
    width: 33%;
    height: 100%;
}
.welcome-quote h1{
    font-size: 70px;
    height: 30%;
    width: 100%;
    margin-top: 10px;
}
.welcome-quote p{
    padding-top: 10px;
    padding-right: 20px;
    height: 50%;
    float: right;
    width: 90%;
    font: 20px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 25px;
    text-align:justify;
}
.slider{
    height: 100%;
    margin: auto;
    width: 63%;
    display: grid;
    position: relative;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width:calc(450px*16);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-450px * 16));
    }
}
.slide{
    height: 300px;
    width: 450px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.slider::before,.slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content:'';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index:2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slide img:hover{
    transform: translateZ(20px);
}
.courses{
    margin-top: 10px;
    width: 100%;
    height:auto;
}
.course-head{
    width: 100%;
    height: 150px;
}
.course-head h1{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
}
.course-head p{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.course-grid{
    width: 100%;
    height:1300px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 22px 22px; 
    grid-template-areas: 
      ". . ."
      ". . ."; }
footer{
    position: relative;
    bottom: 0%;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #010D26;
}
.course-card{
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    border-bottom: #010D26 solid 5px;
    color:#010D26;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-card .card-img{
    display: flex;
    background-color: #010D26;

    width: 100%;
    height: 330px;
    padding-top: 15px;
}
.course-card .card-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-head{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.card-para{
    width: 100%;
    height: 60px;
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}
.card-footer{
   margin-top: 10px;
   padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
}
.card-rate{
    width: 50%;
    height: 90%;
    text-align: center;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
}
.card-btn input{
    width: 120px;
    height: 80%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color:#010D26;
    outline: none;
    border: none;
    border-radius: 7px;
}